<header class="header">
    <div class="header-top">
        <div class="header-top-left">
            <div class="header-top-phone">
                <strong>Hotline:</strong>
                0123.456.789
            </div>
            <div class="header-top-left-location">
                <i class="fa-solid fa-location-dot header-icon"></i>
                Hệ thống cửa hàng
            </div>
        </div>
        <a asp-controller="Cart" asp-action="Index" class="text-dark text-decoration-none   ">
            <div class="header-cart">
                <i class="fa-solid fa-cart-shopping"></i>
                Giỏ hàng
                <span class="header-cart-number">0</span>
            </div>
        </a>

    </div>
    <div class="header-bottom">
        <div class="header-bottom-left">
            <img src="~/image/logo/logo2 1.svg" class="header-bottom-left-logo" />
        </div>
        <div class="header-bottom-center">
            <nav class="header-bottom-center-nav">
                <ul class="header-bottom-center-menu">
                    <li class="header-bottom-center-item">
                        <a href="/" class="header-bottom-center-link"><i class="fa-solid fa-house header-icon-home"></i></a>
                    </li>
                    <li class="header-bottom-center-item">
                        <a href="/" class="header-bottom-center-link">Giới thiệu</a>
                    </li>
                    <li class="header-bottom-center-item">
                        <a href="/" class="header-bottom-center-link">Dự án</a>
                    </li>
                    <li class="header-bottom-center-item">
                        <a href="/product" class="header-bottom-center-link">Sản phẩm</a>
                    </li>
                    <li class="header-bottom-center-item">
                        <a href="/" class="header-bottom-center-link">Tin tức</a>
                    </li>
                    <li class="header-bottom-center-item">
                        <a href="/" class="header-bottom-center-link">Dịch vụ</a>
                    </li>
                    <li class="header-bottom-center-item">
                        <a href="/" class="header-bottom-center-link">Tuyển dụng</a>
                    </li>
                    <li class="header-bottom-center-item">
                        <a href="/" class="header-bottom-center-link">Liên hệ</a>
                    </li>
                    <li class="header-bottom-center-item">
                        <a href="/" class="header-bottom-center-link">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-bottom-right">
            <i class="fa-solid fa-user"></i>
            CSKH 24/7
        </div>

    </div>
</header>