
<footer class="footer">
    <div class="footer-top">
        <div class="footer-top-left">
            <img src="~/image/logo/logo2 1.svg" class="footer-top-img" />
            <h2 class="footer-top-left-company-name">CÔNG TY TNHH KISO</h2>
            <p class="footer-top-left-addres">
                <strong>Trụ sở chính:</strong>
                Số 18 Ngõ 16, Tổ Dân Phố Số 8 Tu Hoàng, P. Phương Canh, Q. Nam Từ Liêm, TP. Hà Nội.
            </p>
            <p class="footer-top-left-addres">
                <strong>Chuyên:</strong>
                Đèn led, đèn chùm, đèn thả, đèn mâm ốp trần, đèn bàn - đèn cây, đèn gương, đèn tường, quạt trần,...
            </p>
        </div>
        <div class="footer-top-centet-center">
            <h3 class="footer-top-title">CHÍNH SÁCH & QUY ĐỊNH</h3>
            <nav class="footer-top-centet-nav">
                <ul class="footer-top-centet-menu">
                    <li class="footer-top-centet-item">
                        <a href="#" class="footer-top-centet-link">
                            Chính sách đổi trả
                        </a>
                    </li>
                    <li class="footer-top-centet-item">
                        <a href="#" class="footer-top-centet-link">
                            Chính sách bảo hành
                        </a>
                    </li>
                    <li class="footer-top-centet-item">
                        <a href="#" class="footer-top-centet-link">
                            Điều khoản dịch vụ
                        </a>
                    </li>
                    <li class="footer-top-centet-item">
                        <a href="#" class="footer-top-centet-link">
                            Chính sách bảo mật
                        </a>
                    </li>
                    <li class="footer-top-centet-item">
                        <a href="#" class="footer-top-centet-link">
                            Hướng dẫn mua hàng
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-top-right">
            <h3 class="footer-top-title">
                fanpage
            </h3>
            <div class="footer-top-right-box"></div>
            <from class="footer-top-right-from">
                <div class="footer-top-right-from-text">Vui lòng đăng ký để nhận thông tin mới</div>
                <div class="footer-top-right-from-create">
                    <input type="text" placeholder="Địa chỉ email của bạn" class="footer-top-right-from-send-mail" id="send-mail" />
                    <label class="footer-top-right-from-label" for="send-mail"><i class="fa-regular fa-envelope"></i></label>
                </div>
            </from>
        </div>
    </div>
    <div class="footer-center">
        <div class="footer-center-info">
            <h1 class="footer-center-information">Thông tin liên hệ</h1>
            <div class="footer-center-phone">
                <strong>
                    hotline:
                </strong>
                0945.352.699
            </div>
            <div class="footer-center-phone">
                <strong>
                    Email:
                </strong>
                Chờ cập nhật
            </div>

        </div>
        <div class="footer-center-rights">
            <i class="fa-solid fa-location-dot"></i>
            xem google map
        </div>
    </div>
    <div class="footer-right">
        © Copyright KISOLIGHTS 2023. Designed by Vicogroup.vn
    </div>

</footer>